
/*Estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
}

body{
    background-color: #000F08;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
  display: flex;
  
}

h2.titulo{
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: #6803ff;
}

/*estilo do cabeçalho*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;

}

header a{
    color: #ffffff;
    text-decoration: none;
display: inline-block;
transition: .2s;
}

header a:hover{
    color: #6803ff;
    transform:scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
display: inline-block;
padding: 0 40px;
}

/*icon*/
header .interface .logo img{
  width: 100px;
}

  button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1.05) ;
 }
 
 button:active,
 button:hover {
  outline: 0;
 }
 
 button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  
 }
 
 button:hover span {
  background: none;
 
 }
 
 button:active {
  transform: scale(0.9);
 }


    
/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{
  padding: 40px 4%;;

}

section.topo-do-site.flex{
  align-items: center;
  justify-content: center;
  gap: 90px ;
}

.topo-do-site h1{
  color: #fff;
  font-size: 38px;
  line-height: 40px;
}

section.img-topo-site{
border-radius: 10px;
background-color: #6803ff;
}

.topo-do-site .txt-topo-site p{
  color: #fff;
  width: 500px;
  gap: 90px;
}

.topo-do-site .img-topo-site img{
  margin-left: 500px;
  margin-right: 450px;
  width: 200px;
  border-radius: 40px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

/*estilo das especialidades*/
section.especialidades{
padding: 40px 4%;
}

section.especialidades .flex{
  gap: 60px;
}

.especialidades .especialidades-box{
  color: #fff;
  padding: 40px; 
  margin-top: 45px;
  border-radius: 20px;
  transform: .2s;
}

.especialidades .especialidades-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px #ffffff77;
}

.especialidades .especialidades-box i{
  font-size:70px ;
  color: #6803ff;
}

.especialidades .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;
}

/*estilo do sobre mim*/
section.sobre{
  padding: 40px 4%;
}

section.sobre .flex{
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre{
  color: #fff;
  }

  .sobre .txt-sobre h2{
    font-size: 40px;
line-height: 40px;
margin-bottom: 30px;
  }

  .sobre .txt-sobre h2 span{
    color: #6803ff;
    display: block;
  }

.sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
}

/*botoes de contato sobre mim*/
.sobre .txt-sobre .btn-social button{
  width: 60px;
  padding: 30px;
  height: 60px;
  border-radius: 90px;
  border: none;
  background-color: #6803ff;
  font-size: 22px;
  cursor: pointer;
  margin: 0 05px;
  transform: scale(1.05)

}
